.captionGeneratedList{
h2{
    margin: 20px 0;
}
 .captionCard {
    width: 700px;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.375rem;
    background-color: #fff;
    
    span {
      display: block;
      margin-bottom: 0.5rem;
    }

    .captionCard__action {
      display: flex;
      justify-content: space-between;
      
      .captionCard__action__share, 
      .captionCard__action__save {
        cursor: pointer;
        display: flex;
        align-items: center;
        color: #007bff;
        transition: color 0.2s ease;

        &:hover {
          color: #0056b3;
        }
        
        svg {
          margin-right: 0.5rem;
        }
      }

      .captionCard__action__save {
        color: #28a745;

        &:hover {
          color: #1e7e34;
        }
      }
    }
  }
}